~widgetsuse 'sass:map';

~widgetsmixin z($z) {
  position: relative;
  z-index: $z;
}

~widgetsmixin absolute($z, $offset: 0) {
  position: absolute;
  z-index: $z;

  top: #{$offset}px;
  bottom: #{$offset}px;
  left: #{$offset}px;
  right: #{$offset}px;
}
