~ widgetsfont-face {
	font-family: 'nissan_regular';
	src: url('./fonts/nissan/regular.otf');
}

~ widgetsfont-face {
	font-family: 'nissan_light';
	src: url('./fonts/nissan/light.otf');
}

~ widgetsfont-face {
	font-family: 'nissan_bold';
	src: url('./fonts/nissan/bold.otf');
}
